html,body{
	width: 100%;
	height: 100%;
}
.swiper-container,.swiper-wrapper,.swiper-slide{
	width: 100%;
	height: 100%;
}
.swiper-container{
	position: relative;
}
.top{
	position: absolute;
	width: 100%;
	height: 0.8rem;
	background-color: #162122;
	line-height: 0.8rem;
	color: #fff;
	text-align: center;
}
.top h1{
	font-size: 0.36rem;
}
.page1,.page2,.page3,.page4,.page5,.page6{
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 750px;
	margin:0 auto;
}
.page1img{
	width: 100%;
	height: 100%;
	margin-top: 0.8rem;
}
.page1img img{
	width: 100%;
	height: 100%;
	position: relative;
}
.page2{
	background-image: url(../images/halloween-bg2.gif);
}
.topbox{
	width: 100%;
	height: 4.5rem;
	position: absolute;
	top: 0;;
}
.page1-topimg{
	width: 100%;
	height: 2.5rem;
	margin-top: 0.8rem;
}
p.halloween-text{
	width: 2.34rem;
	float: left;
	height: 0.89rem;
	margin-top: 0.5rem;
	margin-left: 0.5rem;
}
p.halloween-text img{
	height: 100%;
	width: 100%;
}
.invitation{
	color: rgb(255, 236, 86);
	font-family: HYYanLingTiJ;
	font-size: 0.6rem;
	width: 2rem;
	margin-left: 0.5rem;
}
p.moon-img{
	display: block;
	float: right;
	height: 2.13rem;
	width: 1.74rem;
	margin-top: 0.5rem;
	margin-right: 0.8rem;
}
p.moon-img img{
	width: 100%;
	height: 100%;
}
.bottom-img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 55%;;
}
.bottom-img ul li{
	float: left;
	width: 20%;
}
div.bottom-img li{
	animation-iteration-count: infinite;//动画永久持续
}
.bottom-img li:nth-child(1){
	margin-top: 1.8rem;
	height: 1.5rem;
}
.bottom-img li:nth-child(1) img{
	width: 100%;
	height: 100%;
}
.bottom-img li:nth-child(2){
	margin-top: 0.6rem;
	height: 1.8rem;
}
.bottom-img li:nth-child(2) img{
	width: 100%;
	height: 100%;
}
.bottom-img li:nth-child(3){
	height: 6rem;
	margin-top: -0.5rem;
}
.bottom-img li:nth-child(3) img{
	width: 100%;
	height: 100%;
}
.bottom-img li:nth-child(4){
	margin-top: 0.6rem;
	height: 2.2rem;
}
.bottom-img li:nth-child(4) img{
	width: 100%;
	height: 100%;
}
.bottom-img li:nth-child(5){
	margin-top: 1.8rem;
	height: 2.5rem;
}
.bottom-img li:nth-child(5) img{
	width: 100%;
	height: 100%;
}
p.page2-textbg {
	height: 4.5rem;
	margin-top: 1.8rem;
	width: 4.8rem;
	padding-left: 0.3rem;
}
p.page2-textbg img{
	height: 100%;
	width: 100%;
	position: relative;
}
.topleft-img h4{
	position: absolute;
	top: 2.5rem;
	font-size: 0.26rem;
	width: 3rem;
	left: 1rem;
}
.page2-bottom{
	margin-top: -2.3rem;
	 
}
.page2-bottom img{
	width:3rem;
	height: 4rem;
	animation-iteration-count: infinite;
	margin-left: 3rem;
	position: absolute;
	top: 0%;
}
.page3-bg{
	height: 100%;
}
.page3-bg img{
	width: 100%;
	height: 100%;
	position: relative;
}
.page3-bg h4{
	color: #607D8B;
	font-weight: bold;
	font-size: 0.8rem;
	animation-iteration-count: infinite;
	position: absolute;
	left: 40%;
	top: 32%;
}
.page4{
	height: 100%;
}
.page4 img{
	width: 100%;
	height: 100%;
	position: relative;
}
.page4-text{
	color: rgb(52, 204, 211);
	font-size: 0.3rem;
	font-weight: bold;
	margin-left: 0.6rem;
	font-style: italic;
	height: 3rem;
	position: absolute;
	top: 22%;;
}
.page4-text img{
	width: 100%;
	height: 100%;
	position: relative;
}
p.page4-p{
	margin-left: 0.3rem;
	width: 3.23rem;
	height: 2rem;
}
.page4-text p{
	padding-bottom: 0.15rem;
}
p.page4-p img{
	animation-iteration-count: infinite;
	width: 100%;
	height: 100%;
}
 .page5{
 	height: 100%;
 }
  .page5 img{
  	width: 100%;
  	height: 100%;
  	position: relative;
  }
.page5-text{
	color: #CDDC39;
	font-size: 0.3rem;
	font-weight: bold;
	margin-left: 0.4rem;
	font-style: italic;
	height: 3rem;
	position: absolute;
	top: 9%;
}
 .page5-text p,.page6-text p{
 	padding-bottom: 0.3rem;
 }
 .page5-bottom{
 	width:0.8rem;
 	height: 0.7rem;
 	position: absolute;
 	top: 52%;
 	left:60%;
 }
 p.page5-p img{
 	width: 100%;
 	height: 100%;
}
p.page6-p{
	animation-iteration-count: infinite;
 	margin-left: 2.8rem;
}
.page6img{
	height: 100%;
	position: relative;
}
.page6img img{
	width: 100%;
	height: 100%;
}
.page6-text{
	position: absolute;
	top: 23%;
}